.u-section-1-1 .u-sheet-1 {
  min-height: 711px;
}

.u-section-1-1 .u-image-1 {
  width: 1307px;
  height: 622px;
  margin: 89px -83px 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1-1 .u-image-1 {
    width: 940px;
    height: 447px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-1-1 .u-image-1 {
    width: 720px;
    height: 342px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-1-1 .u-image-1 {
    width: 540px;
    height: 257px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 162px;
  }
}.u-section-1-2 {
  min-height: 711px;
}

.u-section-1-2 .u-image-1 {
  width: 1297px;
  height: 625px;
  margin: 86px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 {
    min-height: 539px;
  }

  .u-section-1-2 .u-image-1 {
    width: 940px;
    height: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 {
    min-height: 433px;
  }

  .u-section-1-2 .u-image-1 {
    width: 720px;
    height: 347px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 {
    min-height: 346px;
  }

  .u-section-1-2 .u-image-1 {
    width: 540px;
    height: 260px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 {
    min-height: 250px;
  }

  .u-section-1-2 .u-image-1 {
    width: 340px;
    height: 164px;
  }
}.u-section-1-3 .u-sheet-1 {
  min-height: 722px;
}

.u-section-1-3 .u-image-1 {
  width: 1320px;
  height: 634px;
  margin: 88px -90px 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1-3 .u-image-1 {
    width: 940px;
    height: 451px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-1-3 .u-image-1 {
    width: 720px;
    height: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-1-3 .u-image-1 {
    width: 540px;
    height: 259px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-1-3 .u-image-1 {
    width: 340px;
    height: 163px;
  }
}.u-block-32ac-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-32ac-3 {
  position: absolute;
  left: 0;
}

.u-block-32ac-4 {
  position: absolute;
  right: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 491px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 104px 1006px 0 0;
}

.u-section-2 .u-line-1 {
  width: 1204px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 7px -64px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 281px;
  grid-gap: 17px 17px;
  width: 1204px;
  margin: 10px -64px 60px auto;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 806px;
  }

  .u-section-2 .u-line-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 219px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 586px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 503px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1342px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 406px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1132px;
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 206px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 713px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 450px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 11px 688px 0 0;
}

.u-section-3 .u-line-1 {
  width: 1204px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 7px -64px 0 auto;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 8px;
  margin-bottom: 11px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 382px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 246px;
  width: 246px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 246px;
  width: 246px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 246px;
  width: 246px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-image-4 {
  height: 246px;
  width: 246px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-3 .u-image-5 {
  height: 246px;
  width: 246px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-11 {
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-3 .u-image-6 {
  height: 246px;
  width: 246px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 488px;
  }

  .u-section-3 .u-line-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 663px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 268px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1143px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 88px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }
}
