.u-section-1 .u-sheet-1 {
  min-height: 2175px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 940px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 10px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-image-2 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-image-3 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-image-4 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-image-5 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-1 .u-image-6 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-1 .u-image-7 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-1 .u-image-8 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-16 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-1 .u-image-9 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-17 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-18 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px 30px;
}

.u-section-1 .u-image-10 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-19 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-20 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 20px 30px;
}

.u-section-1 .u-image-11 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-21 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-22 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 20px 30px;
}

.u-section-1 .u-image-12 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-23 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-24 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 20px 30px;
}

.u-section-1 .u-image-13 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-25 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-26 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 20px 30px;
}

.u-section-1 .u-image-14 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-27 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-28 {
  margin: 18px 0 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 20px 30px;
}

.u-section-1 .u-image-15 {
  height: 246px;
  width: 246px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-29 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-30 {
  margin: 18px 0 0;
}

.u-section-1 .u-text-31 {
  margin: -2010px 940px 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2010px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1910px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 0;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1810px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3700px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 6px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 3570px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 4px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 4px;
  }

  .u-section-1 .u-text-31 {
    margin: -3688px 18px 3476px -18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5800px;
  }

  .u-section-1 .u-list-1 {
    width: 405px;
    margin-top: 62px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 5805px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-14 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-31 {
    margin: -5867px 0 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5815px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-15 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-17 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-19 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-21 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-23 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-25 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-14 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-27 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-29 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-31 {
    margin-top: -5915px;
    margin-right: 160px;
  }
}
